body{
    background-image: url(../images/fundo-madeira.jpg);
    background-size: 100% 100%;
}

section#iphone{
    background-image: url(../images/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 627px;
    position: relative;
    top: 15vh;
}

iframe{
    position: relative;
    right: 4px;
    bottom: 8px;
    display: block;
    margin: auto;
    padding-top: 80px;
    height: 507px;
    width: 275px;
}

section a{
    width: 50px;
}

section img{
    border-radius: 50%;
    width: 50px;
}

section li{
    position: relative;
}

section img:hover{
    border: 1px solid white;
    transition-duration: 1s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.575);
}

section ul{
    list-style: none;
    width: 0px;
}

section#links{
    position: relative;
    bottom: 65vh;
    right: 50px;
    display: flex;
    justify-content: right;
}