@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints:
    -------------------------
    Pequenas telas: até 600px
    Celular: de 600px até 768px
    Tablet: 768px até 992px
    Desktop: 992px até 1200px
    Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) { /* se for maior do que celular */
    span#menu_hamburguer{
        display: none;
    }

    menu#menu_opcoes{
        display: block !important; /* o "!important" evita o bug de se alguém diminuir a janela do site e fechar o menu hamburguer e aumentar a janela as opções desaparecerem */
        margin-left: 8px;
        padding-bottom: 5px;
    }

    menu > ul > li{
        display: inline-block;
    }

    menu > ul > li > a{
        border-bottom: none;
        border-radius: 5px;
    }

    main{
        width: 768px;
    }
}