*{
    box-sizing: border-box;
}

div.container{
    border: 3px solid blue;
    height: 250px;
    display: grid; /* inicialmente parece que nada mudou diferente do "display: flex;" */
    grid-template: repeat(3, auto) / repeat(3, auto); /* grid-template-columns e grid-template-rows podem ser reduzidos somente para grid-template, a ordem é row e column, lembrando de colocar "/" para separar os valores, a função repeat() reduz o código, você escreve primeiro o número de vezes e depois a medida 
    
    -- grid-template-columns -- 
    cria as colunas do grid, cada valor novo adicionado é uma coluna nova, o "auto" faz com que a largura de cada coluna seja igual, 1fr faz algo parecido que o auto, com a vantagem de usar por exemplo: 1fr 2fr 1fr, para o centro ficar o dobro das extremidades

    -- grid-template-rows --
    cria as linhas do grid, cada valor novo adicionado é uma linha nova, o "auto" faz com que a altura de cada coluna seja igual
    */
    gap: 5px; /* antes se chamava grid-gap mas foi depreciado e agora se chama somente gap, ele é responsável pelos espaços entre os itens */
    place-items: start center; /* align-items e justify-items podem ser reduzidos somente para place-items, a ordem é align e justify 
    
    -- align-items -- 
    por padrão é stretch/normal, é responsável pelo posicionamento vertical dos itens, tem as configs (start (vai colar no topo), center (vai colar no centro), end (vai colar embaixo), stretch (vai esticar)) 
    
    -- justify-items -- 
    por padrão é stretch/normal, é responsável pelo posicionamento horizontal dos itens, tem as configs (start (vai colar na esquerda), center (vai colar no centro), end (vai colar na direita), stretch (vai esticar))
    */
    place-content: space-between end; /* align-content e justify-content podem ser reduzidos para place-content, a ordem é align e justify 
    
    -- align-content --
    por padrão é stretch/normal, é responsável pelo posicionamento vertical da caixa que contorna todos os itens, tem as configs (start (vai colar no topo), center (vai colar no centro), end (vai colar embaixo), stretch (vai esticar)), space-between (o primeiro elemento vai colar no topo e o ultimo vai colar embaixo e o resto dos itens vai ter espaço igual entre eles), space-around (o primeiro e ultimo elemento vai ter um espaço menor entre as bordas do que os outros itens), space-evenly (todos os itens tem o mesmo espaço entre eles) 
    
    -- justify-content -- 
    por padrão é stretch/normal, é responsável pelo posicionamento horizontal da caixa que contorna todos os itens, tem as configs (start (vai colar na esquerda), center (vai colar no centro), end (vai colar na direita), stretch (vai esticar)), space-between (o primeiro elemento vai colar na esquerda e o ultimo vai colar na direita e o resto dos itens vai ter espaço igual entre eles), space-around (o primeiro e ultimo elemento vai ter um espaço menor entre as bordas do que os outros itens), space-evenly (todos os itens tem o mesmo espaço entre eles)
    */
    /* existe também o grid-auto-row e grid-auto-column, eles servem para "configurar" um valor de tamanho caso uma nova linha ou coluna implicita (não mencionada no grid-template) seja adicionada */
}

div.item{
    border: 3px solid red;
    padding: 5px;
}